/* Añadir estilos para el chat box */
.chat-box {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #555 #333; /* Para Firefox */
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-track {
    background: #333;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #333;
}
